<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608857058872-rv1ilkig14cc4qibl12hutvkf1o9kvkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608857058872-rv1ilkig14cc4qibl12hutvkf1o9kvkp</string>
	<key>API_KEY</key>
	<string>AIzaSyDhjMGxz8IhjOl-ZUB6hb7R0Qye9qbzpO4</string>
	<key>GCM_SENDER_ID</key>
	<string>608857058872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boomer</string>
	<key>PROJECT_ID</key>
	<string>boomer-cee36</string>
	<key>STORAGE_BUCKET</key>
	<string>boomer-cee36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608857058872:ios:1174c54791ac8a354c80cd</string>
</dict>
</plist>